{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": ["@emotion", "react-refresh/babel"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
